html, body {
  height:100%;
}
#map {
  height:950px;
  width:100%;
  /*margin-left: 14px;*/
  padding-left: 50px;
}
.my-container {
  margin-top: 45px;
  margin-left: -14px;
  margin-right: -14px;
}
.navbar-brand {
  font-size: 150%;
  font-weight: white
}